*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Times New Roman", Times, serif;
}

body
{
    background: linear-gradient(90deg,#54B435 0%, #54B435 30%, #EEEDED 30%, #EEEDED 100%);
}

.contactus {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactus .title
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactus .title h2
{
    font-weight: 500;
}


.form {
    grid-area: form;
}

.info{
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding:40px;
    background: #fff;
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

/* contact ki heading h3 */
.contact h3 {
    color: #54B435;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* formbox */
.formbox
{
    position: relative;
    width: 100%;
}

/* formbox row50 waali class */

.formbox .row50 {
    display: flex;
    gap: 20px;
}

/* inputbox class */
.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

/* formbox ki row100 may inputbox class */

.formbox .row100 .inputbox {
    width: 100%;
}

/* inputbox span */
.inputbox span {
    color: #54B435;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

/* inputbox input */
.inputbox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

/* textarea */
.inputbox textarea {
     padding: 10px;
     font-size: 1.1em;
     outline: none;
     border: 1px solid #333;
     resize: none;
     min-height:220px;
     margin-bottom: 10px;
}

/* submit button */
.inputbox input[type="submit"]
{
    background: #0C356A;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

/* place holder */
.inputbox ::placeholder
{
    color: #999;
}

/* info */
.info {
    background: #54B435;
}

.info h3 {
    color: #fff;
}

.info .infobox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infobox div span 
{
    min-width: 35px;
    height: 35px;
    color: #fff;
    background: #0C356A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

/* info may infobox ke div may paragraph */
.info .infobox div p
{
    color: #fff;
    font-size: 1.1em;
}

/* ancor tag  */
.info .infobox div a
{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

/* other social link */
.sci {
    margin-top: 40px;
    display: flex;
}

/* list items */
.sci li {
    list-style: none;
    margin-right: 15px;
}

/* list items ancor tag */
.sci li a {
    color: #fff;
    font-size: 2em;
    color: #F6F1F1;
}

/* map */
.map {
    padding: 0;
}

/* map iframe */
.map iframe {
    width: 100%;
    height: 100%;
}

/* making it responsive */
@media (max-width: 991px)
{
    body{
        background: #EEEDED;
    }

    .contactus {
        padding: 20px;
    }
    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map"; 
    }
   
    .formbox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputbox {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    .map {
        min-height: 300px;
        padding: 0px;
    }
}

/* email error message */
#email-error {
    color: #BB2525;
}

#phone-error {
    color: #BB2525;
}